<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h2>メニュー編集</h2>
      <% if @menu.errors.any? %>
        <div>
          <h4><%= @menu.errors.count %>件のエラーが発生しました。</h4>
          <ul>
            <% @menu.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_for(@menu) do |f| %>
        <div class="field row">
          <%= f.label :"ジャンル" %>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {prompt:""}, {class: "col-xs-12"}) %>
        </div>
        <div class="field row">
          <%= f.label :"トレーニング種目" %>
          <%= f.text_field :title, class: "col-xs-12 menu_title" %>
        </div>

        <div class="field row">
          <%= f.label :"トレーニング内容" %>
          <%= f.text_area :body, class: "col-xs-12 menu_body" %>
        </div>

        <div class="actions row">
          <%= f.submit 'メニュー更新', class: "btn btn-primary col-xs-12" %>
        </div>
      <% end %>

      <%= link_to "メニュー詳細", menu_path(@menu), class: "show_#{@menu}" %>
      <%= '|' %>
      <%= link_to "メニュー一覧", menus_path, class: "back" %>
    </div>
  </div>
</div>
