<div class='container'>
<div class="row">
  <div class="col-xs-3" style="background-color: white">
<% if @menu.errors.any? %>
   <div id="error_explanation">
    <h3><%= pluralize(@menu.errors.count, "error") %> prohibited this obj from being saved:</h3>
      <ul>
        <% @menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

    <%= render '/users/users/userinfo', user: current_user %>

    <%= render '/users/menus/new', menu: @menu %>

  </div>

  <div class="col-xs-9">
    <h2>メニュー一覧</h2>
    <table class="table table-hover table-inverse">

            <thead>
              <tr>
                <th></th>
                <th>トレーニング種目</th>
                <th>トレーニング内容</th>
              </tr>
            </thead>

            <tbody>
            <% @menus.each do |menu| %>
            <tr class="new table">
              <td><%= link_to user_path(menu.user_id) do %>
                <%= attachment_image_tag menu.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %><% end %></td>
              <td><span><%= link_to menu.title, menu, class: "menus_#{menu.id}" %></span> </td>
              <td><span><%= menu.body %></span></td>

              <td>
                <%= render '/users/favorites/favorites_button', menu: menu %>
              </td>

              <td>コメント数 : <span id="menu_comments_count"><%= menu.menu_comments.count %></span></td>
            </tr>
          <% end %>
                </tr>
             </tbody>
    </table>
  </div>
</div>
</div>