<!DOCTYPE html>
<html>
  <head>
    <title>TrainingDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <header class="navbar">
          <nav class="nav navbar-nav navbar-left ">
            <span>Training diary</span>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li class="">
                  <%= link_to 'ホーム', user_path(current_user) %>
                </li>
                <li class="">
                  <%= link_to 'ユーザー', users_path%>
                </li>
                <li class="">
                  <%= link_to 'メニュー', menus_path %>
                </li>
                <li class="">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li class="">
                  <%= link_to 'ホーム', root_path %>
                </li>
                <li class="">
                  <%= link_to 'アバウト', home_about_path %>
                </li>
                <li class="">
                  <%= link_to '新規登録', new_user_registration_path %>
                </li>
                <li class="">
                  <%= link_to 'ログイン', new_user_session_path %>
                </li>
              <% end %>
            </ul>
          </nav>
        </header>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
