<!DOCTYPE html>
<html>
  <head>
    <title>TrainingDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <header class="navbar">
          <nav class="nav navbar-nav navbar-left ">
            <%= link_to root_path do %>
               <span>Training diary</span>
            <% end %>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <%= render "layouts/header_login" %>
              <% else %>
                <%= render "layouts/header_no_login" %>
              <% end %>
            </ul>
          </nav>
        </header>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
